# MyHealth - Machine Learning Model
##### Automated the process of medical fees based on historical data by performing a linear-regression practice to accurately estimate yearly costs.

In [4]:
import pandas as pd

In [5]:
medicalExpenses_df = pd.read_csv("dataset.csv")

In [6]:
medicalExpenses_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
medicalExpenses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
import plotly.express as px

In [9]:
import matplotlib

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
ageVisualization = px.histogram(medicalExpenses_df, x="age", y="charges", marginal="box", nbins=47, title="Relationship: Age to Medical Expenses", 
                                 labels = {
                                     'age': "Age",
                                     "charges": "Total Age Group Charges",
                                 } 
)

In [28]:
ageVisualization.update_layout(bargap=0.2)

KeyError: 'bargap'